/* ======================================== */
/* Div-One -------------------------> Start */
/* ======================================== */
.div-one{
   width: 100%;
   height: auto;
   min-height: 100vh;
   padding-block: 150px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: var(--primary-color);
}

.div-one .main-section{
   width: min(900px, 95%);
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* border: 1px solid red; */
}

.div-one .main-section .hero-heading{
   width: 100%;
   color: var(--main-white);
   font-size: 4rem;
   letter-spacing: -1px;
   margin-bottom: 15px;
   text-align: center;
}

.div-one .main-section .hero-paragraph{
   width: 65%;
   color: var(--hero-paragraph-color);
   font-size: 1.2rem;
   text-align: center;
   margin-bottom: 40px;
}

.div-one .main-section .search-form{
   width: 60%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
   /* border: 1px solid red; */
}

.div-one .main-section .search-form .input-section{
   width: 70%;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 52px;
   background-color: var(--main-white);
   padding-inline: 10px;
}

.div-one .main-section .search-form .input-section .search-icon{
   width: 35px;
   height: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-one .main-section .search-form .input-section .search-icon>img{
   width: 100%;
   height: fit-content;
}

.div-one .main-section .search-form .input-section>input[type='search']{
   flex: 1;
   height: 100%;
   border-radius: 50px;
   border: none;
   outline: none;
   padding-left: 10px;
   font-family: grotesk, 'Segoe UI', sans-serif;
   font-weight: bold;
}

.div-one .main-section .search-form .demacator{
   flex: 1;
   height: 10px;
   background-color: var(--main-white);
   margin-inline: -2px;
}

.div-one .main-section .search-form .submit-section{
   width: 28%;
   height: 47px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid var(--main-white);
   border-radius: 50px;   
}

.div-one .main-section .search-form .submit-section>button{
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50px;
   color: var(--main-white);
   background-color: var(--primary-color);
   font-weight: bold;
   cursor: pointer;
   border: none;
   outline: none;
   overflow: hidden;
   z-index: 1;
}

.div-one .main-section .search-form .submit-section>button::before{
   content: "";
   position: absolute;
   bottom: 0;
   width: 0%;
   height: 0%;
   background-color: var(--main-brown);
   border-radius: 50%;
   translate: 0% 50%;
   opacity: 1;
   transition: 0.8s;
   z-index: -1;
}

.div-one .main-section .search-form .submit-section:hover>button::before{
   width: 150%;
   height: 150px;
   opacity: 0;
}
/* ======================================== */
/* Div-One ---------------------------> End */
/* ======================================== */



/* ======================================== */
/* Div-Two -------------------------> Start */
/* ======================================== */
.div-two{
   position: relative;
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-block: 150px;
   background-color: var(--main-white);
   overflow: visible;
}

.div-two .main-section{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-two .main-section .scroll-wrapper-1{
   width: 100%;
   height: auto;
   display: flex;
   flex-shrink: 0;
}

.div-two .main-section .scroll-wrapper-1 .scroll-wrapper-2{
   flex-shrink: 0;
   width: max-content;
   height: auto;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   /* animation: 40s infinite-scroll linear infinite; */
}

@keyframes infinite-scroll {
   to{
      translate: -50% 0%;
   }
}

.div-two .main-section .scroll-wrapper-1 .scroll-wrapper-2>*{
   flex-shrink: 0;
}

.div-two .main-section .scroll-wrapper-1 .scroll-wrapper-2 .feature-box{
   /* width: 490px; */
   width: calc(100% / 12);
   position: relative;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-two .main-section .scroll-wrapper-1 .scroll-wrapper-2 .feature-box>img{
   width: 100%;
   height: fit-content;
}

.div-two .main-section .scroll-wrapper-1 .scroll-wrapper-2 .feature-box .feature-content{
   position: absolute;
   width: 76%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-inline: 6%;
}

.div-two .main-section .scroll-wrapper-1 .scroll-wrapper-2 .feature-box .feature-content .heading{
   width: 100%;
   height: 40.5%;
   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
   padding-bottom: 5px;
}

.div-two .main-section .scroll-wrapper-1 .scroll-wrapper-2 .feature-box .feature-content .heading>span{
   width: 15px;
   height: 15px;
   background-color: var(--primary-color);
   border-radius: 2px;
   translate: 0% -20%;
   margin-right: 8px;
}

.div-two .main-section .scroll-wrapper-1 .scroll-wrapper-2 .feature-box .feature-content .heading>h3{
   flex: 1;
   color: var(--primary-color);
   font-size: 1.2rem;
}

.div-two .main-section .scroll-wrapper-1 .scroll-wrapper-2 .feature-box .feature-content>p{
   flex: 1;
   width: 100%;
   padding-top: 5px;
   color: var(--main-grey);
}

.div-two .partners-section{
   position: absolute;
   bottom: 0;
   translate: 0% 50%;
   width: min(700px, 90%);
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-two .partners-section>img{
   width: 100%;
   height: fit-content;
}
/* ======================================== */
/* Div-Two ---------------------------> End */
/* ======================================== */



/* ======================================== */
/* Div-Three -----------------------> Start */
/* ======================================== */
.div-three{
   width: 100%;
   height: auto;
   padding-top: 120px;
   padding-bottom: 50px;
   background-color: var(--secondary-color);
   padding-inline: 5%;
}

.div-three .first-section{
   width: 100%;
   height: auto;
   display: flex;
   justify-content:  space-between;
   align-items: flex-start;
   flex-wrap: wrap;
}

.div-three .first-section .heading{
   width: max-content;
   font-size: 4rem;
   letter-spacing: -1px;
}

.div-three .first-section .sub-heading{
   width: min(450px, 80%);
   margin-inline: 10px;
}

.div-three .first-section .sub-heading>h3{
   margin-bottom: 5px;
   font-size: 1.3rem;
}

.div-three .first-section .sub-heading>p{
   color: var(--main-grey);
}

.div-three .second-section{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding-top: 30px;
   flex-wrap: wrap;
}

.div-three .second-section .box-one{
   width: max-content;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-right: 20px;
}

.div-three .second-section .box-one .map-line{
   width: auto;
   height: 350px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-three .second-section .box-one .map-line>img{
   width: auto;
   max-width: 100%;
   max-height: 100%;
   
}

.div-three .second-section .box-one .map-text{
   width: auto;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-inline: 5px;
}

.div-three .second-section .box-one .map-text>*{
   width: max-content;
}

.div-three .second-section .box-one .map-text>h3{
   font-size: 1.8rem;
}

.div-three .second-section .box-one .map-text>span{
   color: var(--main-grey);
}

.div-three .second-section .box-one .map-text>:nth-child(2){
   margin-bottom: 10px;
}

.div-three .second-section .box-two{
   flex: 1;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-three .second-section .box-two>img{
   width: 100%;
   height: fit-content;
}
/* ======================================== */
/* Div-Three -------------------------> End */
/* ======================================== */










