/* ======================================== */
/* Div-One -------------------------> Start */
/* ======================================== */
.div-one{
   position: relative;
   width: 100%;
   min-height: 100vh;
   padding-block: 150px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* background-color: var(--primary-color); */
   background: url(../images/hero-pattern-1.svg), url(../images/hero-pattern-2.svg) var(--primary-color);
   background-size: 15%, 14%;
   background-position: 0% 45%, 100% 45%;
   background-repeat: no-repeat;
   z-index: 6;
}

.div-one::before{
   content: "";
   position: absolute;
   top: 0%;
   left: 20%;
   width: 12%;
   height: 12%;
   background: url(../images/hero-pattern-2.svg) no-repeat;
   background-size: 100%;
   rotate: -120deg;
}

.div-one::after{
   content: "";
   position: absolute;
   top: 3%;
   left: 75%;
   width: 12%;
   height: 12%;
   background: url(../images/hero-pattern-2.svg) no-repeat;
   background-size: 100%;
   rotate: -60deg;
}

.div-one .main-section{
   width: min(900px, 95%);
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.div-one .main-section .hero-heading{
   width: 100%;
   color: var(--main-white);
   font-size: var(--rem-4);
   letter-spacing: -1px;
   margin-bottom: 15px;
   text-align: center;
   transition: 0.3s;
}

.div-one .main-section .hero-paragraph{
   width: 65%;
   color: var(--hero-paragraph-color);
   font-size: var(--rem-1-2);
   text-align: center;
   margin-bottom: 40px;
   transition: 0.3s;
}

.div-one .main-section .search-form{
   width: 60%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
   transition: 0.3s;
}

.div-one .main-section .search-form .input-section{
   width: 70%;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 52px;
   background-color: var(--main-white);
   padding-inline: 10px;
}

.div-one .main-section .search-form .input-section .search-icon{
   width: 35px;
   height: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-one .main-section .search-form .input-section .search-icon>img{
   width: 100%;
   height: fit-content;
}

.div-one .main-section .search-form .input-section>input[type='search']{
   flex: 1;
   height: 100%;
   border-radius: 50px;
   border: none;
   outline: none;
   padding-left: 10px;
   font-family: grotesk, 'Segoe UI', sans-serif;
   font-weight: bold;
}

.div-one .main-section .search-form .demacator{
   position: relative;
   flex: 1;
   height: 10px;
   background-color: var(--main-white);
   margin-inline: -0.8px;
   overflow: hidden;
}

.div-one .main-section .search-form .demacator::before{
   content: '';
   position: absolute;
   top: 0%;
   left: 50%;
   translate: -50% -95%;
   width: 200%;
   height: 200%;
   background-color: var(--primary-color);
   border-radius: 50%;
}

.div-one .main-section .search-form .demacator::after{
   content: '';
   position: absolute;
   bottom: 0%;
   left: 50%;
   translate: -50% 95%;
   width: 200%;
   height: 200%;
   background-color: var(--primary-color);
   border-radius: 50%;
}

.div-one .main-section .search-form .submit-section{
   width: 28%;
   height: 47px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid var(--main-white);
   border-radius: 50px;   
}

.div-one .main-section .search-form .submit-section>button{
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50px;
   color: var(--main-white);
   background-color: var(--primary-color);
   font-weight: bold;
   cursor: pointer;
   border: none;
   outline: none;
   overflow: hidden;
   z-index: 1;
}

.div-one .main-section .search-form .submit-section>button::before{
   content: "";
   position: absolute;
   bottom: 0;
   width: 0%;
   height: 0%;
   background-color: var(--main-brown);
   border-radius: 50%;
   translate: 0% 50%;
   opacity: 1;
   transition: 0.5s;
   z-index: -1;
}

.div-one .main-section .search-form .submit-section:hover>button::before{
   width: 150%;
   height: 150px;
   opacity: 0;
}
/* ======================================== */
/* Div-One ---------------------------> End */
/* ======================================== */



/* ======================================== */
/* Div-Two -------------------------> Start */
/* ======================================== */
.div-two{
   position: relative;
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-block: 150px;
   background-color: var(--main-white);
   overflow: visible;
   z-index: 6;
}

.div-two .main-section{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   z-index: 2;
   /* border: 1px solid red; */
}

.div-two .main-section .scroll-wrapper{
   flex-shrink: 0;
   width: max-content;
   height: auto;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   animation: 50s infinite-scroll linear infinite;
}

@keyframes infinite-scroll {
   to{
      translate: -50% 0%;
   }
}

.div-two .main-section .scroll-wrapper>*{
   flex-shrink: 0;
}

.div-two .main-section .scroll-wrapper .feature-box{
   /* width: 490px; */
   /* width: 40vw; */
   width: calc(100% / 12);
   position: relative;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-two .main-section .scroll-wrapper .feature-box>img{
   width: 100%;
   height: fit-content;
}

.div-two .main-section .scroll-wrapper .feature-box .feature-content{
   position: absolute;
   width: 76%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-inline: 6%;
}

.div-two .main-section .scroll-wrapper .feature-box .feature-content .heading{
   width: 100%;
   height: 40.5%;
   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
   padding-bottom: 5px;
}

.div-two .main-section .scroll-wrapper .feature-box .feature-content .heading>span{
   width: 15px;
   height: 15px;
   background-color: var(--primary-color);
   border-radius: 2px;
   translate: 0% -20%;
   margin-right: 8px;
}

.div-two .main-section .scroll-wrapper .feature-box .feature-content .heading>h3{
   flex: 1;
   color: var(--primary-color);
   font-size: var(--rem-1-2);
}

.div-two .main-section .scroll-wrapper .feature-box .feature-content>p{
   flex: 1;
   width: 100%;
   padding-top: 5px;
   color: var(--main-grey);
}

.div-two .globe-section{
   position: absolute;
   top: 0%;
   width: 120%;
   height: auto;
   padding-bottom: 15%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-top-left-radius: 50%;
   border-top-right-radius: 50%;
   background-color: var(--main-white);
   translate: 0% -25%;
   z-index: 1;
   /* border: 2px solid red; */
   /* background-color: pink; */
}

.div-two .globe-section>img{
   width: calc(100% - 20%);
   height: fit-content;
}

.div-two .partners-section{
   position: absolute;
   bottom: 0;
   translate: 0% 50%;
   width: min(700px, 95%);
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-two .partners-section>img{
   width: 100%;
   height: fit-content;
}
/* ======================================== */
/* Div-Two ---------------------------> End */
/* ======================================== */



/* ======================================== */
/* Div-Three -----------------------> Start */
/* ======================================== */
.div-three{
   width: 100%;
   height: auto;
   padding-top: 120px;
   padding-bottom: 50px;
   background-color: var(--secondary-color);
   padding-inline: 5%;
   overflow: hidden;
   z-index: 5;
}

.div-three .first-section{
   width: 100%;
   height: auto;
   display: flex;
   justify-content:  space-between;
   align-items: flex-start;
   flex-wrap: wrap;
}

.div-three .first-section .heading{
   width: max-content;
   font-size: var(--rem-3-5);
   letter-spacing: -1px;
}

.div-three .first-section .sub-heading{
   width: min(450px, 80%);
   margin-top: 20px;
   margin-inline: 10px;
}

.div-three .first-section .sub-heading>h3{
   margin-bottom: 5px;
   font-size: var(--rem-1-3);
}

.div-three .first-section .sub-heading>p{
   color: var(--main-grey);
}

.div-three .second-section{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding-top: 30px;
   flex-wrap: wrap;
}

.div-three .second-section .box-one{
   width: max-content;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-right: 20px;
}

.div-three .second-section .box-one .map-line{
   width: auto;
   height: 350px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-three .second-section .box-one .map-line>img{
   width: auto;
   max-width: 100%;
   max-height: 100%;
   
}

.div-three .second-section .box-one .map-text{
   width: auto;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-inline: 5px;
}

.div-three .second-section .box-one .map-text>*{
   width: max-content;
}

.div-three .second-section .box-one .map-text>h3{
   font-size: var(--rem-1-8);
}

.div-three .second-section .box-one .map-text>span{
   color: var(--main-grey);
}

.div-three .second-section .box-one .map-text>:nth-child(2){
   margin-bottom: 10px;
}

.div-three .second-section .box-two{
   flex: 1;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-three .second-section .box-two>img{
   width: 100%;
   height: fit-content;
}
/* ======================================== */
/* Div-Three -------------------------> End */
/* ======================================== */



/* ======================================== */
/* Div-Four ------------------------> Start */
/* ======================================== */
.div-four{
   position: relative;
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-block: 100px;
   /* background-color: #1c2946; */
   /* background-color: #2c406c; */
   /* background-color: var(--primary-color); */
   background-color: var(--sub-secondary-color);
   overflow: hidden;
   z-index: 6;
}

.div-four .main-section{
   width: min(500px, 90vw);
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-block: 10px;
   flex-shrink: 0;
   /* background-color: var(--sub-secondary-color); */
   z-index: 2;
}

.div-four .main-section>h4{
   color: var(--second-grey);
   margin-bottom: 5px;
}

.div-four .main-section .scroll-wrapper-1{
   position: relative;
   width: 100%;
   height: auto;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.div-four .main-section .scroll-wrapper-1 .scroll-wrapper-2{
   width: max-content;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   translate: calc(100% / 3 * -0) 0%;
   transition: 0.3s;
}

.div-four .main-section .scroll-wrapper-1 .scroll-wrapper-2>*{
   flex-shrink: 0;
}

.div-four .main-section .scroll-wrapper-1 .scroll-wrapper-2 .main-content{
   width: min(500px, 90vw);
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 30px;
   text-align: center;
}

.div-four .main-section .scroll-wrapper-1 .scroll-wrapper-2 .main-content>*{
   width: 100%;
}

.div-four .main-section .scroll-wrapper-1 .scroll-wrapper-2 .main-content>h2{
   color: var(--tertiary-color);
   font-size: var(--rem-3);
   letter-spacing: -1px;
   margin-bottom: 7px;
}

.div-four .main-section .scroll-wrapper-1 .scroll-wrapper-2 .main-content>h3{
   color: var(--main-white);
   margin-bottom: 5px;
   font-size: var(--rem-1-3);
}

.div-four .main-section .scroll-wrapper-1 .scroll-wrapper-2 .main-content>p{
   color: var(--second-grey);
}


.div-four .main-section>a{
   position: relative;
   padding-block: 10px;
   padding-inline: 20px;
   border-radius: 50px;
   text-decoration: none;
   font-weight: bold;
   color: var(--main-white);
   background-color: var(--primary-color);
   border: 2px solid var(--main-grey);
   margin-bottom: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   z-index: 1;
}

.div-four .main-section>a::before{
   content: "";
   position: absolute;
   bottom: 0;
   width: 0%;
   height: 0%;
   background-color: var(--main-brown);
   border-radius: 50%;
   translate: 0% 50%;
   opacity: 1;
   transition: 0.5s;
   z-index: -1;
}

.div-four .main-section>a:hover::before{
   width: 150%;
   height: 150px;
   opacity: 0;
}

.div-four .main-section .scroll-indicator-section{
   width: auto;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-four .main-section .scroll-indicator-section>*{
   width: 7px;
   height: 7px;
   border-radius: 50%;
   background-color: var(--main-grey);
   margin-inline: 2.5px;
   cursor: pointer;
}

.div-four .main-section .scroll-indicator-section>:nth-child(1){
   background-color: var(--second-grey);
}

.div-four .country-box{
   position: absolute;
   top: var(--top);
   left: var(--left);
   rotate: var(--rotate);
   width: auto;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid var(--main-grey);
   padding-inline: 5px;
   overflow: hidden;
   border-radius: 50px;
   animation: dance linear infinite alternate;
   animation-duration: var(--duration);
   z-index: 1;
}

.div-four .country-box>*{
   margin-inline: 5px;
}

.div-four .country-box .image-section{
   width: 25px;
   height: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
}

.div-four .country-box .image-section>img{
   width: 100%;
   height: fit-content;
}

.div-four .country-box .country-text{
   color: var(--main-grey);
   font-size: var(--rem-1-2);
}

@keyframes dance {
   to{
      rotate: 0deg;
   }
}
/* ======================================== */
/* Div-Four --------------------------> End */
/* ======================================== */



/* ======================================== */
/* Div-Five ------------------------> Start */
/* ======================================== */
.div-five{
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   background-color: var(--light-grey);
   /* margin-bottom: -300px; */
   overflow: hidden;
}

.div-five>*{
   padding-block: 100px;
   width: 100%;
   height: auto;
   overflow: hidden;
}

.div-five .work-1{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
}

.div-five .work-1 .text-section{
   width: min(500px, 95%);
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding-inline: 2.5%;
   z-index: 4;
}

.div-five .work-1 .text-section>h2{
   font-size: var(--rem-3-5);
   margin-bottom: 15px;
   color: var(--primary-color);
}

.div-five .work-1 .text-section>h3{
   font-size: var(--rem-1-3);
   margin-bottom: 5px;
   color: rgb(73, 72, 72);
}

.div-five .work-1 .text-section>p{
   color: var(--main-grey);
   margin-bottom: 15px;
}

.div-five .work-1 .text-section>a{
   padding-block: 10px;
   padding-inline: 20px;
   border-radius: 50px;
   background-color: var(--primary-color);
   color: var(--main-white);
   text-decoration: none;
}

.div-five .work-1 .image-section{
   position: relative;
   width: min(500px, 95%);
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: visible;
   z-index: 3;
}

.div-five .work-1 .image-section>video{
   position: absolute;
   top: 50%;
   translate: 0% -50%;
   width: 300%;
}

.div-five .work-1 .image-section .image-box{
   position: relative;
   width: min(230px, 90%);
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--main-white);
   overflow: hidden;
   border-radius: 20px;
}

.div-five .work-1 .image-section .image-box>img{
   width: 100%;
   height: fit-content;
   z-index: 2;
}

.div-five .work-1 .image-section .image-box .screen{
   position: absolute;
   top: 0%;
   z-index: 1;
}


.div-five .work-2{
   flex-direction: column-reverse;
}

.div-five .work-2 .image-section{
   margin-bottom: 50px;
   rotate: 90deg;
}


.div-five .work-3{
   flex-direction: row-reverse;
}


.div-five .work-4{
   flex-direction: column;
}

.div-five .work-4 .text-section{
   margin-bottom: 50px;
}



.motion-image{
   position: absolute;
   top: 500px;
   /* bottom: 0%; */
   /* right: 0%; */
   width: min(500px, 95%);
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: visible;
   z-index: 2;
   /* z-index: 10; */
}

.motion-image>video{
   position: absolute;
   top: 50%;
   translate: 0% -50%;
   width: 300%;
   display: none;
}

.motion-image .image-box{
   position: relative;
   width: min(230px, 90%);
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--main-white);
   overflow: hidden;
   border-radius: 20px;
}

.motion-image .image-box>img{
   width: 100%;
   height: fit-content;
   z-index: 2;
}

.motion-image .image-box .screen{
   position: absolute;
   top: 0%;
   z-index: 1;
}


/* ======================================== */
/* Div-Five --------------------------> End */
/* ======================================== */



/* ======================================== */
/* Div-Six -------------------------> Start */
/* ======================================== */
.div-six{
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-block: 100px;
}

.div-six>h2{
   font-size: var(--rem-3-5);
   color: var(--primary-color);
}

.div-six .main-section{
   width: 100%;
   height: auto;
   min-height: 300px;
}

/* ======================================== */
/* Div-Six ---------------------------> End */
/* ======================================== */



/* ======================================== */
/* Interssection Class names -------> Start */
/* ======================================== */
.float-up{
   translate: 0px 50px;
}

.float-down{
   translate: 0px -50px;
}

.normalize{
   border-radius: 0% !important;
   translate: 0% 0% !important;
}
/* ======================================== */
/* Interssection Class names ---------> End */
/* ======================================== */




